.jumble-game {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background: linear-gradient(to bottom, #e48c69, #f59baa);
    padding-bottom: 20px;
    padding-top: 5px;
    border-radius: 9px;
}

.jumble {
    margin: auto;
}

.jumble td {
    width: 9vh;
    height: 9vh;
    border: 3px #222 solid;
    font-size: 50px;
    text-align: center;
    pointer-events: none;
    /*text-transform: uppercase;*/
}

.harfler {
    margin-bottom: 4px;
    width: 2rem;
    height: 3.5rem;
    font-size: 12pt;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.harfler2 {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 12pt;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}

.keyboard {
    margin-top: 20px;
    text-align: center;
}