@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: beige;
}

.navigation button {
    width: 150px;
    height: 100px;
    margin: 20px;
    color: #444;
    background: none;
    border: none;
    vertical-align: middle;
    font-size: 20pt;
    font-family: inherit;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

.navigation {
    vertical-align: middle;
    transition: all 1s;
    text-align: center;
    font-size: 20pt;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content {
    margin: 10px;
    width: auto;
    display: block;
}