@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fdf5ed;
}

.navigation {
    text-align: center;
    margin-top: 20px;
}

.navigation .nav_button {
    display: inline-block;
    color: rgb(36, 36, 36);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15pt;
    cursor: pointer;
    margin: 10px;
}

.navigation p:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.content {
    margin: 10px auto auto auto;
    width: auto;
    display: block;
}

.portfolio {
    text-align: center;
}