@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f3f1ee;
}

.navigation {
    text-align: center;
    font-family: Poppins, Geneva, Verdana, sans-serif;
    margin-top: 60px;
}

.description {
    text-align: center;
    font-family: Poppins, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.navigation .nav_button {
    display: inline-block;
    color: rgb(36, 36, 36);
    font-size: 15pt;
    cursor: pointer;
    margin: 10px;
}

.navigation p:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.content {
    margin: auto;
    width: auto;
    display: block;
}

.portfolio {
    text-align: center;
}