@import url('https://fonts.cdnfonts.com/css/morpheus');

.warcraft {
    font-family: 'Morpheus', sans-serif;
    text-align: center;
    font-weight: bold;
}

.wowraces table, .wowraces td {
    margin: auto;
    padding: 0 50px 0 50px;
}

.warcraft p {
    font-size: 24pt;
    margin: 8px;
}

.warcraft button {
    font-family: 'Morpheus', sans-serif;
    margin: 5px;
    height: 40px;
    width: 200px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15pt;
    border: solid 0.5px rgb(105, 105, 105);
    transition-duration: 0.3s;
}

.classButton1bg {
    background-color: rgb(154, 15, 15);
    color:white;
}
.classButton2bg {
    background-color: rgb(0, 153, 255);
    color:white;
}
.classButton3bg {
    background-color: rgb(99, 148, 71);
    color:white;
}
.classButton4bg {
    background-color: rgb(144, 107, 80);
    color:white;
}
.classButton5bg {
    background-color: rgb(244, 226, 32);
}
.classButton6bg {
    background-color: rgb(16, 199, 123);
}
.classButton7bg {
    background-color: rgb(37, 37, 37);
    color:white;
}
.classButton8bg {
    background-color: rgb(255, 102, 0);
    color:white;
}
.classButton9bg {
    background-color: rgb(17, 53, 154);
    color:white;
}
.classButton10bg {
    background-color: rgb(228, 114, 133);
    color:white;
}
.classButton11bg {
    background-color:rgb(102, 34, 162);
    color:white;
}
.classButton12bg {
    background-color: rgb(120, 1, 128);
    color:white;
}
.classButton13bg {
    background-color: rgb(8, 75, 44);
    color:white;
}
.buttonHorde {
    background-color: rgb(105, 22, 22);
    color:white;
}
.buttonAlliance {
    background-color: rgb(26, 40, 101);
    color:white;
}